body{
  background-color:#f4f4f4;
  font-family: trebuchet, helvetica, sans-serif;
  color: black;
}
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
.clr{
  clear: both;
}
#main-header{
  height: 80px;
}
#main-header a{
  float: left;
  width:30%;
}
#main-header h1{
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: right;
  width: 50%;
}
#profile{
  float: right;
  width:40%;
  padding: none;
  box-sizing: border-box;
}
#content{
  float: left;
  width: 60%;
  text-align: right;
  margin-bottom: none;
  box-sizing: border-box;
}
#content h1{
  font-size: 50px;
  font-family: verdana;
  padding-top: 10px;
}
#content h2{
  font-style: italic;
}
#content p{
  font-size: 19px;
}
#main-vid{
  float: left;
  margin-top: 35px;
  margin-left: 40px;
  box-sizing: border-box;
}
#navbar{
  background-color: black;
  border: 3px solid #40E0D0;
  outline: 5px solid red;
}
#navbar ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
#navbar li{
  display: inline;
  float: left;
}
#navbar a{
  font-weight: bold;
  text-decoration: none;
  font-family: helvetica;
  display: block;
  background-color: red;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-right: 20px;
}
#navbar a:hover{
  color: white;
  background-color: #40E0D0;
}
#main-footer{
  background: red;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  border: 2px solid #40E0D0;
  outline: 5px solid black;
}
#main-footer li{
  display: inline;
  padding-right: 10px;
}

@media screen and (max-width: 400px){
  #navbar a{
    float: none;
    width: 100%;
  }
  #content{
    float: none;
    width: 100%
  }
  #profile{
    float: none;
    width: 100%;
  }
  #main-footer{
    float: none;
    width: 100%;
  }
  #main-vid{
    float: none;
    width: 100%;
  }
  #main-header h1{
    float: none;
    width: 100%;
  }
}
