:root {
  --primary: #ddd;
  --dark: #000;
  --light: red;
}
html{
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  color: var(--dark);
}
body{
  background-color:#f4f4f4;
  margin: 30px 50px;
  line-height: 1.4;
}
.btn{
  background: var(--light);
  color: var(--dark);
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 0;
}
img {
  max-width: 100%;
}
.wrapper{
  display: grid;
  grid-gap: 20px;
}

/*   main header  */
.main-header {
  display: grid;
  justify-content: center;
  max-height: 100px;
}
#title{
  grid-area: title;
}
/*    navigation   */
#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10%;
  background-image: linear-gradient(red, black);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid black;
  outline: 4px groove #40E0D0;
}
#navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#navbar li{
  display: inline-block;
  padding: 10px;
}
#navbar a{
  text-decoration: none;
  background-color: black;
  box-shadow: 1px 2px 4px #40E0D0;
  color: white;
  text-align: center;
  padding: 0 5px;
  border-radius: 5%;
}
#navbar a:hover{
  color: #40E0D0;
}
/*   showcase   */
.main-section {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'top-box-a top-box-a profile'
    'top-box-a top-box-a top-box-b';
}
.main-section img{
  min-width: 300px;
}
.profile{
  grid-area: profile;
  min-height: 300px;
  text-align: center;
  padding: 2rem;
  background-color: white;
}
.profile h1{
  font-family:'Oxygen', sans-serif;
  font-size: 4rem;
  margin-top: 1rem;
  text-shadow: 1px 2px red;
}
.profile h2{
  font-size: 2rem;
  padding-top: 0;
}
.profile h3{
  font-size: 1.3rem;
}
.profile p{
  font-size: 1.3rem;
  margin-top: 0;
}
.top-box{
  display: grid;
}
.top-box-a{
  grid-area: top-box-a;
}
.top-box-b{
  grid-area: top-box-b;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}
/*  info boxes  */
.boxes{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5rem 2rem;
}
/*   My Story  */
.info{
  display: grid;
  background-color: white;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  padding: 2rem 3rem;
  text-align: center;
}
.info h1{
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0;
  text-shadow: 1px 2px red;
}
.info p{
  font-size: 1.3rem;
  margin-top: 0;
}
/*  gallery  */
.gallery{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery img{
  width: 100%;
}

/* ArtStarts Page */
.artstarts {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.artlogo {
  padding: 0 5%;
}
.art_a{
  padding: 3% 2%;
  background-color: white;
  outline: 5px solid red;
}
.art_b{
  padding: 3% 2%;
  background-color: white;
  outline: 5px solid red;
}
.reviews{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/*   Media Page  */
.slideshow {
  text-align: center;
}

/*    footer    */
.main-footer{
  display: grid;
  grid-template-areas:
   'left-foot copyright right-foot';
  justify-content: center;
  margin-top: 2rem;
  color: white;
  font-variant: small-caps;
  background-image: linear-gradient(black, red);
  font-size: 0.8rem;
  padding: 1rem;
  border: 3px solid black;
  outline: 4px groove #40E0D0;
}
.left-foot {
  grid-area: left-foot;
}
.copyright {
  display: flex;
  align-items: flex-end;
  grid-area: copyright;
  padding-top: 1rem;
  padding-left:1rem;
  padding-right: 1rem;
}
.right-foot {
  grid-area: right-foot;
}
.main-footer ul{
  list-style: none;
  padding: 0;
}
.main-footer li{
  display: inline;
}
.main-footer a{
  text-decoration: none;
  border: 0.5px black solid;
}
.fa{
  padding: 1rem;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover{
  opacity: 0.7;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background-image: linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
  color: white;
}

@media(max-width: 700px) {
  body {
    width: 100%;
    height:auto;
    margin: 3px;
    zoom: 100%;
  }
  .main-header {
    padding: 0 3px;
  }
#title {
    padding-top: 25px;
  }
  .main-section {
    grid-template-areas:
      'top-box-a'
      'profile'
      'top-box-b';
  }
  .profile h1{
    font-size: 3rem;
  }
  .profile h2{
    font-size: 1.2rem;
  }
  .profile h3{
    font-size: 1.2rem;
  }
  .navbar {
    padding: 0;
 }
 .slideshow img{
   width: auto;
   max-height: 375px;
 }
 .artstarts h1{
   font-size: 1rem;
 }
 #performance{
   font-size: 1.2rem;
 }
  .main-footer{
    grid-template-areas:
      'left-foot right-foot'
      'copyright';
  }
  .main-footer ul{
    justify-content: center;
  }
  .fa{
    padding: 0.5rem;
    padding: 0.3rem;
  }
@media(max-width: 500px){
body  {width: 100%;
      height:auto;
      margin: 3px;
      zoom: 100%;
}
}
