body{
  background-color:#f4f4f4;
  font-family: trebuchet, helvetica, sans-serif;
  color: black;
}
*{
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
.clr{
  clear: both;
}
#main-header{
  height: 80px;
}
#main-header a{
  float: left;
  width:30%;
}
#main-header h1{
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: right;
  width: 50%;
}
#profile{
  float: right;
  width:40%;
  padding: none;
  box-sizing: border-box;
}
#content{
  float: left;
  width: 60%;
  text-align: right;
  margin-bottom: none;
  box-sizing: border-box;
}
#content h1{
  font-size: 55px;
  font-family: helvetica, sans-serif;
  padding-top: 5px;
}
#content h2{
  font-style: italic;
  padding-top:none;
}
#content p{
  font-size: 19px;
}
#main-vid{
  float: left;
  margin-top: 25px;
  margin-left: 40px;
  box-sizing: border-box;
}
#navbar{
  background-color: black;
  border: 2px solid #40E0D0;
  outline: 5px solid red;
}
#navbar ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
#navbar li{
  display: inline;
  float: left;
}
#navbar a{
  font-weight: bold;
  text-decoration: none;
  font-family: helvetica;
  display: block;
  background-color: red;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-right: 20px;
}
#navbar a:hover{
  color: white;
  background-color: #40E0D0;
}
#main-footer{
  background: red;
  color: black;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  margin-top: 40px;
  border: 2px solid #40E0D0;
  outline: 5px solid black;
}
#main-footer li{
  display: inline;
  padding-right: 10px;
}
.fa{
  padding: 8px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover{
  opacity: 0.7;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background-image: linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
  color: white;
}


@media screen and (max-width: 400px){
  #navbar a{
    float: none;
    width: 100%;
  }
  #content{
    float: none;
    width: 100%
  }
  #profile{
    float: none;
    width: 100%;
  }
  #main-footer{
    float: none;
    width: 100%;
  }
  #main-vid{
    float: none;
    width: 100%;
  }
  #main-header h1{
    float: none;
    width: 100%;
  }
  .column{
    width: 100%;
  }
}
